.formSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formItem {
  flex: 1 1 200px;
}
.gridContainer {
  padding: 20px;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-auto-rows: 200px;
  grid-gap: 20px;
  justify-content: center;
  align-content: center;
  height: 100vh;

  justify-items: center;
  align-items: center;
}

.gridItem {
  font-size: 0.9rem;
  padding: 60px 60px 60px 60px;
  background-color: rgb(226, 197, 155);
  color: brown;
  border: 1px solid fuchsia;
  border-radius: 5%;
}
