* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62, 5%;
  body {
    font-family: "Montserrat", sans-serif;
    height: 100%;
  }
}

header {
  background-color: $backgroundheadfoot;
  position: sticky;
}

.primeraSeccion h1 {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(200, 106, 200);
  margin: 10px;
  padding: 10px;
}
h2 {
  color: purple;
}
.primeraSeccion p {
  font-size: 0, 5rem;
}

main {
  background-color: $backgroundmain;
  padding: 1%;
}

footer {
  background-color: $backgroundheadfoot;
}
